//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}ModuleConfigurator {
    
    func configureModuleForViewInput<UIViewController>(viewInput: UIViewController) {
        if let viewController = viewInput as? {{ module_info.name }}ViewController {
            configure(viewController: viewController)
        }
    }
    
    private func configure(viewController: {{ module_info.name }}ViewController) {
        let router = {{ module_info.name }}Router()
        
        let presenter = {{ module_info.name }}Presenter()
        presenter.view = viewController
        presenter.router = router
        
        let interactor = {{ module_info.name }}Interactor()
        interactor.output = presenter
        
        presenter.interactor = interactor
        viewController.output = presenter
    }
    
}
