//
//  {{ prefix }}{{ module_info.name }}{{ module_info.file_name }}
//  {{ module_info.project_name }}
//
//  Created by {{ developer.name }} on {{ date }}.
//  Copyright © {{ year }} {{ developer.company }}. All rights reserved.
//

import UIKit

class {{ module_info.name }}ModuleInitializer: NSObject {
    
    @IBOutlet weak var {{ module_info.name | downcase }}ViewController: {{ module_info.name }}ViewController!
    
    override func awakeFromNib() {
        let configurator = {{ module_info.name }}ModuleConfigurator()
        configurator.configureModuleForViewInput(viewInput: {{ module_info.name | downcase }}ViewController)
    }
    
}
